doctype html  
html(lang='en')  
    head
        title Pug
    body
        h1 Pug Examples
        div.container
            p Cool Pug example!
                h2(id='MyId') Library
                ul  
                    each val in list
                        li=val